/* .bubble1 {
    animation-name: move;
    animation-duration: 3s;
    fill: lightgrey;
}

@keyframes move {
    from {
        left: 0px;
    }

    to {
        left: 100px;
    }
} */

.car {
    animation-name: move;
    animation-duration: 3s;
}

@keyframes move {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 40%;
    }
}